# Copy nội dung file này sang một file mới tên là .env và điền giá trị thật vào
# SQL Server Configuration
DB_SERVER =your_server_database_here
DB_NAME =your_database_name_here
DB_USERNAME =your_username_here
DB_PASSWORD=your_secure_password_here

# Kafka Configuration
KAFKA_CLUSTER_ID=your_kafka_cluster_id_here